:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: black;
}

.starsGenerator {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.starsContainer {
  position: relative;
  height: 100%;
}

.star {
  position: absolute;
  background-color: white;
}

.ticketContainer {
  /* aspect-ratio: 16/9; */
  margin: 1rem auto;
}
